<style type="text/css">
	md-select.form-control {
    margin-top: 0px;
}
md-input-container .md-errors-spacer {
    display: none;
}
</style>
<div class="panel panel-flat">
		<div class="navbar navbar-default navbar-xs navbar-component">
								<ul class="nav navbar-nav no-border visible-xs-block">
									<li><a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
								</ul>

																<md-content layout-padding>
								<div class="navbar-collapse collapse" id="navbar-filter">
									<ul class="nav navbar-nav" style="max-width: 925px;">

										<li class="col-xs-1">
											<md-input-container class="md-block" flex-gt-sm>
									            <label>Invoice</label>
									            <input ng-model="search.InvNo">
									        </md-input-container>
										</li>
										<li>
											<md-input-container class="md-block" flex-gt-sm>
									            <label>Company</label>
									            <input ng-model="search.CName">
									        </md-input-container>
										</li>
										<li>
											<md-input-container class="md-block" flex-gt-sm>
									            <label>Status</label>
									            <md-select ng-model="search.Status">
									              <md-option value="">All</md-option>
									              <md-option value="Payable">Payable</md-option>
									              <md-option value="Closed">Closed</md-option>
									            </md-select>
									        </md-input-container>
										</li>
										<li>
											<md-input-container>
            									<label>From Date</label>
												<md-datepicker ng-model="FromDat" md-open-on-focus ></md-datepicker>
											</md-input-container>
										</li>
										<li>
											<md-input-container>
            									<label>To Date</label>
												<md-datepicker ng-model="ToDat" md-open-on-focus md-min-date="FromDat"></md-datepicker>
											</md-input-container>
										</li>
										<li>
											<md-button class="md-raised md-primary" ng-click="searchform();" style="margin-top: 15px;">Search</md-button>
										</li>
										<li>
											<md-button class="md-raised md-primary" ng-click="reset();" style="margin-top: 15px;">Clear</md-button>
										</li>

									</ul>
									<ul class="nav navbar-nav pull-right">								
										
										<li>
											<md-button href="#/create-invoice" md-colors="{background: 'pink'}" class="md-raised md-ink-ripple new" >New Invoice</md-button>
										</li>
									</ul>

									<!-- <div class="navbar-right">
										<a href="#/create-invoice" class="btn btn-sm bg-blue btn-labeled heading-btn legitRipple" style="margin-top: 5px;"><b><i class="icon-task"></i></b> New Invoice</a>
									</div> -->

								</div>
								</md-content>
							</div>


							<kendo-grid options="mainGridOptions" id="grid">
        </kendo-grid>
</div>