<div class="panel panel-flat">
	<div class="navbar navbar-default navbar-xs navbar-component">
		<ul class="nav navbar-nav no-border visible-xs-block">
			<li><a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
		</ul>
		<md-content layout-padding>
		<div class="navbar-collapse collapse" id="navbar-filter">
			<ul class="nav navbar-nav">

				<li>
					<md-input-container class="md-block" flex-gt-sm>
			            <label>Company</label>
			            <input ng-model="search.CName">
			        </md-input-container>
				</li>
				<li>
					<md-input-container>
						<label>From Date</label>
						<md-datepicker ng-model="FromDat" md-open-on-focus ></md-datepicker>
					</md-input-container>
				</li>
				<li>
					<md-input-container>
						<label>To Date</label>
						<md-datepicker ng-model="ToDat" md-open-on-focus md-min-date="FromDat"></md-datepicker>
					</md-input-container>
				</li>
				<li>
					<md-button class="md-raised md-primary" ng-click="searchform();" style="margin-top: 15px;">Search</md-button>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li>
					<md-button ng-click="makepay($event)" md-colors="{background: 'pink'}" class="md-raised md-ink-ripple new" >Make Pay</md-button>
				</li>
			</ul>
		</div>
		</md-content>
	</div>

	<table ng-table="tableSorting" class="table datatable-sorting dataTable no-footer">
		<tr ng-repeat="item in data">
			<td data-title="'S No'" class="col-xs-1">{{$index+1}}</td>
			<td data-title="'Date'" sortable="'created_at'" >{{item.Date*1000|date:'dd-MM-yyyy'}}</td>
			<td data-title="'Company Name'" sortable="'CName'"><a href="">{{item.CName}}</a></td>
			<td data-title="'Detail'" sortable="'Cheque'">{{item.Bank}}  {{item.Cheque}} {{item.ChequeNo}}</td>
			<td data-title="'Amount'" sortable="'Amount'"  class="col-xs-2">{{item.Amount| currency : "&#8377; " : 2}}</td>
			<td data-title="'Actions'" class="col-xs-1">
				<ul class="icons-list">
				<li class="dropdown">
					<a href="" ng-click="editpay(item,$index,$event)" class="dropdown-toggle md-primary" data-toggle="dropdown">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
				</li>
				<li class="dropdown">
					<a href="" ng-click="delete(item.PID,$index,$event)"  class="dropdown-toggle"  md-colors="{color: 'pink'}" data-toggle="dropdown">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</li>
			</ul>
			</td>
		</tr>
	</table>
        
</div>

<script type="text/ng-template" id="register.html">
<md-dialog aria-label="{{Type}} Payment">
  <form name="CampaignCreate" class="form-horizontal" ng-submit="submit();">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{Type}} Payment</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="min-width: 400px;">

      			

		<div class="form-group">
			<label class="col-lg-3 control-label">Supplier :</label>
			<div class="col-lg-9">
					<md-autocomplete required placeholder="Search Supplier Here " style="min-width: 160px;"  md-no-cache="true"
					md-selected-item-change="customerchange();"
					md-selected-item="form.Supplier" md-min-length="0" md-search-text="searchText" md-items="lead in query(searchText)" md-item-text="lead.CName">
					  <md-item-template>
					    <span md-highlight-text="searchText"  md-highlight-flags="^i">{{lead.CName}}-{{lead.Name}}</span>
					  </md-item-template>
					  <md-not-found>Match not found</md-not-found>
					</md-autocomplete>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label">Date :</label>
			<div class="col-lg-9">
			<md-datepicker ng-model="form.Dat" md-placeholder="Date" md-open-on-focus time="true"  required></md-datepicker>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label">Type :</label>
			<div class="col-lg-9">

			<md-select ng-model="form.Cheque"  class="form-control" required>
				<md-option value=""></md-option>
				<md-option value="Cheque">Cheque</md-option>
				<md-option value="RTGS">RTGS</md-option>
				<md-option value="Cash">Cash</md-option>
			</md-select>

			</div>
		</div>

		<div class="form-group" ng-show="form.Cheque=='Cheque'">
			<label class="col-lg-3 control-label">Cheque No :</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" placeholder="ChequeNo" ng-model="form.ChequeNo" name="ChequeNo">
			</div>
		</div>

		<div class="form-group" ng-show="form.Cheque!='Cheque'">
			<label class="col-lg-3 control-label">Reference No :</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" placeholder="Reference No" ng-model="form.ChequeNo" name="ChequeNo">
			</div>
		</div>


		<div class="form-group" ng-hide="form.Cheque=='Cash'">
			<label class="col-lg-3 control-label">Bank :</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" placeholder="Bank" ng-model="form.Bank" name="Bank">
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label">Amount :</label>
			<div class="col-lg-9">
				<input type="number" string-to-number min="1" max="{{Balance}}" class="form-control" placeholder="Amount" ng-model="form.Amount" name="CustRate" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label">Detail :</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" placeholder="Detail" ng-model="form.Detail" name="CustRate">
			</div>
		</div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">
       Cancel
      </md-button>
      <button type="submit" class="btn bg-indigo">Save</button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>

<style type="text/css">
	md-select.form-control {
    margin-top: 0px;
    margin-bottom: 0px;
}
md-input-container .md-errors-spacer {
    display: none;
}
.fg{
	    margin-bottom: 0px;
}
.cl{
	    padding-bottom: 0px;
	    padding-top: 0px;
	    text-align: right;
}
label {
    margin-bottom: 0px;
}
.form-control-static {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    min-height: 0px;
}
</style>